/* *, *::before, *::after {
    box-sizing: border-box;
} */

h1 {
    font-family: 'Indie Flower', cursive, sans-serif;
    font-size: 8vmin;
    text-align: center;
}

td {
    border: .5vmin solid blue;
    height: 10vmin;
    width: 10vmin;
    vertical-align: middle;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    position: absolute;
    left: 35vmin;
    top: 25vmin;
}

table tr:first-child td {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr td:last-child {
    border-right: 0;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: black;
    border-radius: 10%;
    color: white;
    font-size: 20px;
}

button:hover {
    background-color: azure;
    color: black
}
